<div class="row">
  <div class="col-11 offset-1">
    <h3 class="offset-3 mini-title">マイページ</h3>

    <div class="row">
      <h2>登録情報</h2>
      
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
        </tr>
      </tbody>
    </table>
    
    
  </div>
</div>

<!--確認用あとで消します！-->
<%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>