<h3 class="my-3 offset-2 mini-title">配達先登録 ／ 一覧</h3>

<%= form_with model: @address, method: :post do |f| %>
  <%= render 'public/addresses/address_form', f: f %>
<% end %>



<% if @addresses.present? %>
  <%= @addresses.each do |address| %>
    <%= address.postal_code %>
  <% end %>
<% end %>  