<h3 class="my-3 offset-2 mini-title">配達先登録 ／ 一覧</h3>
<div class="col-11 offset-1 mb-5">
  <%= form_with model: @address, method: :post do |f| %>
    <%= render 'public/addresses/address_form', address: @address, f: f, obj: @address %>
  <% end %>
</div>

<div class="col-10 offset-1">
<table class="table table-bordered">
  <thead　class="thead-dark">
    <tr>
      <th class="col-1">郵便番号</th>
      <th class="col-5">住所</th>
      <th class="col-2">宛名</th>
      <th class="col-4"></th>
    </tr>
  </thead>
  <% if @addresses.present? %>
    <% @addresses.each do |address| %>
      <%= render 'public/addresses/address_index', address: address %>
    <% end %>
  <% end %>
</table>
</div>