/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "skippr";
@import "button";

.field_with_errors {
 display: contents;
}

 .mini-title {
    color: 	#FF5192;/*文字色*/
  border: solid 3px #FF5192;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/



  display: inline-block;
  padding:0 20px;
}

.box{
  height: 300px;
  width: 500px;
  z-index: -1;
  position: absolute;
}

.card-text{
  height: 200px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 9999;
}

.h1{
  font-family: cursive;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

header{
  background: linear-gradient(#FF99CC,#FF9999);
  line-height: 30px;
}

main{
  background-image: url(background.jpeg);
  background-size: cover;
  background-position: center
}

.min-vh-100{
  padding: 50px 100px;
  background-color: rgba(255,255,255,0.8);
}

h1{
  font-family: cursive;
}

footer{
  background: linear-gradient(#FF99CC,#FF9999);
  font-family: cursive;
  line-height: 40px;
}

.image1 {
  background-image: url(image1.jpeg);
}
.image2 {
  background-image: url(image2.jpeg);
}
.image3 {
  background-image: url(image3.jpeg);
}
.image4 {
  background-image: url(image4.jpeg);
}
.image5 {
  background-image: url(image5.jpeg);
}

#slide{
  width: 700px;
  height: 450px;
}

.card{
  opacity: 0.7;
}

.pagination>li>a {
  border: none;
  color: #ff6699 !important;
}

.pagination>.active>a {
  background: #ff6699 !important;
  color: #fff !important
}

.pagination>li>a:hover {
  background-color: #ff6699 !important;
  color: #fff !important;
}

[role="link"] {
  cursor: pointer;
}

.table-background {
  background-color: rgba(255,255,255,0.8);
}