<div class='card mt-5'>
  <h6 class="card-header bg-white text-center font-weight-bold" style="font-size: 15px">ジャンル検索</h6>
  <div class=" h-75 card-body">
    <% genres.each do |genre| %>
      <div class="my-4" style="font-size: 15px">
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %><br>
      </div>
    <% end %>
  </div>
</div>