<div class="card mt-3">
  <h6 class="card-header bg-white text-center font-weight-bold">ジャンル検索</h6>
  <div class=" h-75 card-body">
    <%= link_to '全ての商品を表示', items_path, class: "text-dark" %>
    <% genres.each do |genre| %>
      <div class="my-4">
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %><br>
      </div>
    <% end %>
  </div>
</div>