<footer>
  <div class="container">
    <div class="row">
      <div class="social mx-auto mt-3 text-light">
        <i class="fab fa-facebook-square fa-3x mx-3"></i>
        <i class="fab fa-twitter-square fa-3x mx-3"></i>
        <i class="fab fa-instagram-square fa-3x mx-3"></i>
        <i class="fab fa-line fa-3x mx-3"></i>
      </div>
    </div>
    <div class="row">
  	  <p class="text-light mx-auto">©NAGANO CAKE .inc  produced by team SSK</p>
  	</div>
  </div>
</footer>